<nav id='main-menu' class='main-menu-container' aria-label='Menu principal'>
    <a class="bloglogo" href="/"> <img src="{{asset "images/logo.png"}}" alt="IDLV-logo"> </a>

    <ul class='main-menu'>
        {{#foreach navigation}}
        <li class="nav-{{slug}}"><a class="{{#if current}}current{{/if}} yellow" href="{{url absolute="true"}}">{{label}}</a>
        </li>
        {{/foreach}}
    </ul>
</nav>