<nav class="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span>Articles plus récents </a>
    {{/if}}
    <span class="page-number">Page {{page}} sur {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Anciens articles <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>
