<li class='list-item'>
    <article>
        <header class='list-item-header'>
            <h3 class='list-item-title'>
                <a class="yellow" href='{{ url }}'>
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                    --}}
                    <img src="{{img_url feature_image size=" s"}}"
                         alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                    <br>
                    <span class="text"><span>{{ title }}</span></span>
                </a>
            </h3>
        </header>
    </article>
</li>