<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />
    <link rel="shortcut icon" type="image/png" href="{{asset "favicon.ico"}}"/>
    {{ghost_head}}
</head>

<body>
    <div class='site'>

        <a class='screen-reader' href='#main'>Aller au contenu</a>

        <header id='header' class='header-container'>
            <div class='header site-header'>
                {{ navigation }}
            </div>
        </header>
        {{{body}}}
        <footer id='footer' class='footer-container'>
            <div class='footer'>
                <div class='copyright'>
                    <p>
                        <span class="copyleft">&copy;</span>
                        <span class="weight-normal">
                            <a class="yellow" href='/'>
                                {{@site.title}}
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </footer>
    </div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>

<script src="{{asset "built/main.min.js"}}"></script>

{{ghost_foot}}

</body>

</html>