{{!< default }} <main id='main' class='main'>

    <div class='list-container'>
        <ul class='list'>

            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </ul>

        {{ pagination }}
    </div>
    </main>
    