{{!< default }}
{{#post}}
  <article class="entry" lang="fr">
    {{#is "post"}}
      <header class="header-container">
        <div class="header entry-header">
          <div class="header-info">
            <h1 class="title">
              {{title}}
            </h1>
          </div>
          <div class="meta">
            <span class="posted-on">
              <svg
                class="icon"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
              >
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg>
              <span class="screen-reader">
                Publié le
              </span>
              <time class="date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date locale="fr-fr"}}
              </time>
            </span>
            <span class="reading-time">
              <svg
                class="icon"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 15 15"></polyline>
              </svg>
              {{reading_time
                minute="Une minute de lecture"
                minutes="% minutes de lecture"
              }}
            </span>
          </div>
        </div>
      </header>
    {{/is}}
    <div class="entry-content">
      {{content}}
    </div>
    <footer class="entry-footer-container">
      <div class="entry-footer"></div>
    </footer>
  </article>
{{/post}}