@import "extras/extras";

/*!
 * Theme Name: Minimo
 * Author: Munif Tanjim
 */

/*****************
 0. Normalize
*****************/
@import "normalize";

/*****************
 1. Typography
*****************/
@import "typography/typography";

/*****************
 2. Elements
*****************/
@import "elements/elements";

/*****************
 3. Navigation
*****************/
@import "navigation/navigation";

/*****************
 4. Site Blocks
*****************/
@import "site/site";

/*****************
 5. Shortcodes
*****************/
@import "shortcodes/shortcodes";

/*****************
 6. Accessibility
*****************/
@import "extras/accessibility";

@import "custom";

.kg-width-wide {
    grid-column: wide-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
}

@import "@tryghost/shared-theme-assets/assets/css/v1/vendor/pswp.css";

@import "fonts";
@import "extras/video"