$color__accent: #ffeb52;
$color__black: #212121;
$color__grey: #bdbdbd;
$color__white: #fafafa;

$color__background-hr: $color__grey;
$color__background-button: $color__accent;
$color__background-screen: $color__black;

$color__text-heading: #263238;
$color__text-main: #37474f;
$color__text-button: $color__black;
$color__text-screen: $color__white;
$color__text-input: $color__text-main;

$color__link: $color__black;
$color__link-hover: #ffeb52;
$color__link-faded: #455a64;

$color__border-input: $color__grey;
$color__border-input-focus: $color__black;
$color__border-table: $color__grey;
