%pseudoSeperator {
  content: '';
  display: block;
  // border-bottom: .125em solid $color__accent;
  width: 4em;
}

%seperatorAfter {
  &:after {
    @extend %pseudoSeperator;
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
}

%seperatorBefore {
  &:before {
    @extend %pseudoSeperator;
    margin-top: 2.5em;
    margin-bottom: 2em;
  }
}

%flexContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

%widthLimit {
  width: 100%;
  // max-width: $max-width__container;
  padding-left: $padding__container-side;
  padding-right: $padding__container-side;
}

%svgIcon {
  display: inline-block;
  height: 1em;
  width: 1em;
}
